.file {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
}

.file.empty {
  /* opacity: 0.2; */
  background-size: 20%;
  background-position: 40%;
  /* transform: scale(0.5); */
}

.name {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.2rem;
}
